// ================================================================================================================================================================================================================================================================================================================================
// VARS \\
@import './scss/vars';
// VARS \\
// ================================================================================================================================================================================================================================================================================================================================
// MIXINS \\
@import './scss/mixins';
// MIXINS \\
// ================================================================================================================================================================================================================================================================================================================================
// FONTS \\
@import './scss/fonts';
//** GOOGLE FONTS **\\
//! &display=swap&subset=cyrillic-ext

//** GOOGLE FONTS **\\
// DEFAULT FONT \\
$fontFamily: 'Arial';
$fontSize: 16;
$fontWeight: 400;
$mainColor: #000;
// DEFAULT FONT \\
// FONTS \\
// ================================================================================================================================================================================================================================================================================================================================
// RESET STYLES \\
@import './scss/reset';
// RESET STYLES \\
// ================================================================================================================================================================================================================================================================================================================================
// UI \\
@import './scss/ui';
// UI \\
// ================================================================================================================================================================================================================================================================================================================================
